altgraph==0.17
asgiref==3.4.1
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi
chardet
click==8.0.3
cryptography
Django==3.2.7
docopt==0.6.2
Flask
Flask-Cors==3.0.10
greenlet==1.1.2
grip==4.5.2
idna
itsdangerous
Jinja2
livereload==2.6.3
macholib==1.14
Markdown==3.3.4
MarkupSafe
numexpr
numpy==1.21.3
pandas==1.3.4
path-and-address==2.0.1
pycosat==0.6.3
pycparser
Pygments==2.8.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
PyMySQL
pyOpenSSL
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt6==6.1.0
PyQt6-Qt6==6.1.0
PyQt6-sip==13.1.0
PySocks
python-dateutil
pytz==2021.3
requests
ruamel_yaml==0.15.87
six
SQLAlchemy==1.4.26
sqlparse==0.4.2
tornado==6.1
tqdm
urllib3
Werkzeug
