<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JSQuery, Popper, Bootstrap -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
    <link rel="stylesheet" href="/static/styles/index.css" type="text/css">
    <link rel="shortcut icon" href="/static/imgs/purdue.png" type="image/jpg">
    <title> Purdue 2K22 Tool</title>

    <script>
      $.get("static/header.html", function(data) {
        $("#header").replaceWith(data);
      });
      </script>

  </head>

  <body>
    <div id="header"></div>
    
    <!-- about page -->
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>About</h2>
            <p>Developed by Joe Zobel, Jeremy Frank, and Nick Booth.</p>
            <p>To be used with NBA 2K22 on PlayStation 4, using roster from jeremy36242</p>
            <p>The roster is called "Purdue as alltime wizards" and can be accessed in blacktop mode as the all-time Wizards</p>>
            <p>This tool is not affiliated with the NBA or the NBA 2K22 teams</p>
            <p>This tool is not affiliated with Purdue University nor the Purdue Basketball team</p>
            </div>
        </div>
      </div>
  
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

  </body>
</html>