<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JSQuery, Popper, Bootstrap -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
    <link rel="stylesheet" href="/static/styles/index.css" type="text/css">
    <link rel="shortcut icon" href="/static/imgs/purdue.png" type="image/jpg">
    <title> Purdue 2K22 Tool</title>

    <script>
      $.get("static/header.html", function(data) {
        $("#header").replaceWith(data);
      });
      </script>
    
    <script>
      // call randomizeTeams script when page is loaded
      $(document).ready(function() {
        randomizeTeams();
      });
    </script>
    
  </head>

  <body>
    <!-- import my navigation bar from nav.html -->
    <div id="header"></div>

    <!-- Randomizer specific code -->
    <div class="alert alert-warning fade show text-center" role="alert" id="fewPlayersAlert" style="display:none">
      <strong>Error! </strong>Too few players. Please include guards and/or forwards.
    </div>
    
    <div class="alert alert-warning fade show text-center" role="alert" id="fewUsersAlert" style="display:none">
      <strong>Error! </strong>Too few users. Please include at least 4 users.
    </div>

    <script>
      function randomizeTeams() {
        // get values of player checkboxes
        var mason_gillis = $('#mason_gillis').is(':checked');
        var brian_wadell = $('#brian_wadell').is(':checked');
        var eric_hunter_jr = $('#eric_hunter_jr').is(':checked');
        var caleb_furst = $('#caleb_furst').is(':checked');
        var trey_kaufman_renn = $('#trey_kaufman_renn').is(':checked');
        var brandon_newman = $('#brandon_newman').is(':checked');
        var isaiah_thompson = $('#isaiah_thompson').is(':checked');
        var zach_edey = $('#zach_edey').is(':checked');
        var jaden_ivey = $('#jaden_ivey').is(':checked');
        var ethan_morton = $('#ethan_morton').is(':checked');
        var trevion_williams = $('#trevion_williams').is(':checked');
        var sasha_stefanovic = $('#sasha_stefanovic').is(':checked');

        // count number of players checked
        var numPlayers = mason_gillis + brian_wadell + eric_hunter_jr + caleb_furst + trey_kaufman_renn + brandon_newman + isaiah_thompson + zach_edey + jaden_ivey + ethan_morton + trevion_williams + sasha_stefanovic;
        
        // get values of user checkboxes
        var brant_user = $('#brant_user').is(':checked');
        var jeremy_user = $('#jeremy_user').is(':checked');
        var joe_user = $('#joe_user').is(':checked');
        var nick_user = $('#nick_user').is(':checked');
        var jake_user = $('#jake_user').is(':checked');
        var lucas_user = $('#lucas_user').is(':checked');

        var numUsers = brant_user + jeremy_user + joe_user + nick_user + jake_user + lucas_user;
      
        if(numPlayers < 4 || numUsers < 4) {
          if(numPlayers < 4) {
            $('#fewPlayersAlert').show();
          }
          else {
            $('#fewPlayersAlert').hide();
          }
          if(numUsers < 4) {
            $('#fewUsersAlert').show();
          }
          else {
            $('#fewUsersAlert').hide();
          }
          return;
        }
        
        $("#fewPlayersAlert").hide();
        $("#fewUsersAlert").hide();

        // fetch json from /randomize url, send bools
        fetch("/randomize", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "mason_gillis": mason_gillis,
            "brian_wadell": brian_wadell,
            "eric_hunter_jr": eric_hunter_jr,
            "caleb_furst": caleb_furst,
            "trey_kaufman_renn": trey_kaufman_renn,
            "brandon_newman": brandon_newman,
            "isaiah_thompson": isaiah_thompson,
            "zach_edey": zach_edey,
            "jaden_ivey": jaden_ivey,
            "ethan_morton": ethan_morton,
            "trevion_williams": trevion_williams,
            "sasha_stefanovic": sasha_stefanovic,
            "brant_user": brant_user,
            "jeremy_user": jeremy_user,
            "joe_user": joe_user,
            "nick_user": nick_user,
            "jake_user": jake_user,
            "lucas_user": lucas_user
          })
        })
          .then(response => response.json())
          .then(data => {
            // update the select menus with the new data
            document.getElementById("team1_user1").innerHTML = data.team1_user1;
            document.getElementById("team1_player1").innerHTML = data.team1_player1[0] + ", #" + data.team1_player1[1];

            // replace period in string with space
            document.getElementById("team1_player1_pic").innerHTML = "<img class='player-img' src=/static/imgs/" + data.team1_player1[1] + "_" + data.team1_player1[0].split(" ").slice(0,2).join("_") + ".JPG />";

            document.getElementById("team1_user2").innerHTML = data.team1_user2
            document.getElementById("team1_player2").innerHTML = data.team1_player2[0] + ", #" + data.team1_player2[1];
            document.getElementById("team1_player2_pic").innerHTML = "<img class='player-img' src=/static/imgs/" + data.team1_player2[1] + "_" + data.team1_player2[0].split(" ").slice(0,2).join("_") + ".JPG />";

            document.getElementById("team2_user1").innerHTML = data.team2_user1
            document.getElementById("team2_player1").innerHTML = data.team2_player1[0] + ", #" + data.team2_player1[1];
            document.getElementById("team2_player1_pic").innerHTML = "<img class='player-img' src=/static/imgs/" + data.team2_player1[1] + "_" + data.team2_player1[0].split(" ").slice(0,2).join("_") + ".JPG />";

            document.getElementById("team2_user2").innerHTML = data.team2_user2
            document.getElementById("team2_player2").innerHTML = data.team2_player2[0] + ", #" + data.team2_player2[1];
            document.getElementById("team2_player2_pic").innerHTML = "<img class='player-img' src=/static/imgs/" + data.team2_player2[1] + "_" + data.team2_player2[0].split(" ").slice(0,2).join("_") + ".JPG />";
          });
        }
    </script>

    <script>
      function uploadModal() {
        $("#uploadModal").modal("show");
      };
    </script>
    <script>
      function deleteTestUploadsModal() {
        $("#deleteTestUploadsModal").modal("show");
      };
    </script>

    <script>
      function guardsToggle() {
        // get value of guards checkbox
        var guardsBool = document.getElementById("guardsBool").checked;

        if(guardsBool) {
          // set guards checboxes to true
          document.getElementById("eric_hunter_jr").checked = true;
          document.getElementById("brandon_newman").checked = true;
          document.getElementById("isaiah_thompson").checked = true;
          document.getElementById("jaden_ivey").checked = true;
          document.getElementById("ethan_morton").checked = true;
          document.getElementById("sasha_stefanovic").checked = true;
          return;
        }
        document.getElementById("eric_hunter_jr").checked = false;
        document.getElementById("brandon_newman").checked = false;
        document.getElementById("isaiah_thompson").checked = false;
        document.getElementById("jaden_ivey").checked = false;
        document.getElementById("ethan_morton").checked = false;
        document.getElementById("sasha_stefanovic").checked = false;

      };
    </script>

    <script>
      function forwardsToggle() {
        // get value of forwards checkbox
        var forwardsBool = document.getElementById("forwardsBool").checked;

        if(forwardsBool) {
          document.getElementById("mason_gillis").checked = true;
          document.getElementById("brian_wadell").checked = true;
          document.getElementById("caleb_furst").checked = true;
          document.getElementById("trey_kaufman_renn").checked = true;
          return;
        }
        document.getElementById("mason_gillis").checked = false;
        document.getElementById("brian_wadell").checked = false;
        document.getElementById("caleb_furst").checked = false;
        document.getElementById("trey_kaufman_renn").checked = false;
      };
    </script>

    <script>
      function centersToggle() {
        var centersBool = document.getElementById("centersBool").checked;

        if(centersBool) {
          document.getElementById("zach_edey").checked = true;
          document.getElementById("trevion_williams").checked = true;
          return;
        }
        document.getElementById("zach_edey").checked = false;
        document.getElementById("trevion_williams").checked = false;
      };
    </script>

    <script>
      function uploadScores() {
        // get team1_score and team2_score values
        var team1_score = document.getElementById("team1_score").value
        var team2_score = document.getElementById("team2_score").value
        
        // get user and players
        var Table = document.getElementById("user-player-table")
        var team1_user1 = Table.rows[1].cells[1].innerHTML
        var team1_player1 = Table.rows[1].cells[2].innerHTML
        var team1_user2 = Table.rows[2].cells[0].innerHTML
        var team1_player2 = Table.rows[2].cells[1].innerHTML
        var team2_user1 = Table.rows[3].cells[1].innerHTML
        var team2_player1 = Table.rows[3].cells[2].innerHTML
        var team2_user2 = Table.rows[4].cells[0].innerHTML
        var team2_player2 = Table.rows[4].cells[1].innerHTML

        // create a json object with the data
        var data = {
          team1_score: team1_score,
          team2_score: team2_score,
          team1_user1: team1_user1,
          team1_user2: team1_user2,
          team1_player1: team1_player1,
          team1_player2: team1_player2,
          team2_user1: team2_user1,
          team2_user2: team2_user2,
          team2_player1: team2_player1,
          team2_player2: team2_player2
        };
        
        // fetch with post method to /upload url
        fetch('/upload', {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });
        // clear the input fields
        document.getElementById("team1_score").value = "";
        document.getElementById("team2_score").value = "";
        $("#uploadModal").modal('hide');
      };
    </script>

    <script>
      function deleteTestUploads() {
        fetch('/deleteTestUploads');
        $("#deleteTestUploadsModal").modal('hide');
      };
    </script>

    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="row justify-content-center" style="margin-bottom: 20px">
            <div class="col-auto">
              <button type="button" class="btn btn-primary" onclick="randomizeTeams()">Randomize Teams</button>
            </div>
          </div>

          <!-- 3 bootstrap checkboxes in the same row -->
        
          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" onChange="guardsToggle()" id="guardsBool" value="guardsBool" checked/>
                <label class="form-check-label" for="inlineCheckbox1">Guards</label>
              </div>
            </div>

            <div class="col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" onChange="forwardsToggle()" id="forwardsBool" value="forwardsBool" checked/>
                <label class="form-check-label" for="inlineCheckbox2">Forwards</label>
              </div>
            </div>

            <div class="col-auto">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" onChange="centersToggle()" id="centersBool" value="centersBool" checked/>
                <label class="form-check-label" for="inlineCheckbox3">Centers</label>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-auto">
              <table class="table table-responsive" id="user-player-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">User</th>
                    <th scope="col">Player</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2" style="text-align:center"><img width="100%" class="team-img" src="/static/imgs/ringers_logo.png"/></td>
                    <td id="team1_user1">&nbsp</td>
                    <td id="team1_player1">&nbsp</td>
                    <td id=team1_player1_pic>&nbsp</td>
                  </tr>
                  <tr>
                    
                    <td id="team1_user2">&nbsp</td>
                    <td id="team1_player2">&nbsp</td>
                    <td id=team1_player2_pic>&nbsp</td>
                  </tr>
                  <tr>
                    <td rowspan="2" style="text-align:center"><img width="100%" class="team-img" src="/static/imgs/ballerz_logo.png"/></td>
                    <td id="team2_user1">&nbsp</td>
                    <td id="team2_player1">&nbsp</td>
                    <td id=team2_player1_pic>&nbsp</td>
                  </tr>
                  <tr>
                    
                    <td id="team2_user2">&nbsp</td>
                    <td id="team2_player2">&nbsp</td>
                    <td id=team2_player2_pic>&nbsp</td>
                </tbody>
              </table>
            </div>
          </div>
      
          <div class="row justify-content-center">
            <div class="col-auto input-box-padded">
              <input type="text" class="form-control" id="team1_score" placeholder="Ringers Score">
            </div>

            <div class="col-auto input-box-padded">
              <input type="text" class="form-control" id="team2_score" placeholder="Ballerz Score">
            </div>

          </div>

          <div class="row justify-content-center">
            <div class="col-auto">
              <button type="button" class="btn btn-large btn-primary" onclick="uploadModal()">Upload to Database</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-large btn-primary" onclick="deleteTestUploadsModal()">Delete Test Uploads</button>
            </div>
          </div>
        
        
          <div class="row justify-content-center">
            <div class="col-auto">
              <h3>Player Selection</h3>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="mason_gillis" value="mason_gillis" checked/>
                <label class="form-check-label" for="inlineCheckbox1">Mason Gillis</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="brian_wadell" value="brian_wadell" checked/>
                <label class="form-check-label" for="inlineCheckbox2">Brian Wadell</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="eric_hunter_jr" value="eric_hunter_jr" checked/>
                <label class="form-check-label" for="inlineCheckbox3">Eric Hunter Jr.</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="caleb_furst" value="caleb_furst" checked/>
                <label class="form-check-label" for="inlineCheckbox4">Caleb Furst</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="trey_kaufman_renn" value="trey_kaufman_renn" checked/>
                <label class="form-check-label" for="inlineCheckbox5">Trey Kaufman-Renn</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="brandon_newman" value="brandon_newman" checked/>
                <label class="form-check-label" for="inlineCheckbox6">Brandon Newman</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isaiah_thompson" value="isaiah_thompson" checked/>
                <label class="form-check-label" for="inlineCheckbox7">Isaiah Thompson</label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="zach_edey" value="zach_edey" checked/>
                <label class="form-check-label" for="inlineCheckbox8">Zach Edey</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="jaden_ivey" value="jaden_ivey" checked/>
                <label class="form-check-label" for="inlineCheckbox9">Jaden Ivey</label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ethan_morton" value="ethan_morton" checked/>
                <label class="form-check-label" for="inlineCheckbox10">Ethan Morton</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="trevion_williams" value="trevion_williams" checked/>
                <label class="form-check-label" for="inlineCheckbox11">Trevion Williams</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sasha_stefanovic" value="sasha_stefanovic" checked/>
                <label class="form-check-label" for="inlineCheckbox12">Sasha Stefanovic</label>
              </div>
            </div>
            <div class="col-auto">
              <h3>User Selection</h3>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="brant_user" value="brant_user" checked/>
                <label class="form-check-label" for="inlineCheckbox13">Brant</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="jeremy_user" value="jeremy_user" checked/>
                <label class="form-check-label" for="inlineCheckbox14">Jeremy</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="joe_user" value="joe_user" checked/>
                <label class="form-check-label" for="inlineCheckbox15">Joe</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="nick_user" value="nick_user" checked/>
                <label class="form-check-label" for="inlineCheckbox16">Nick</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="jake_user" value="jake_user"/>
                <label class="form-check-label" for="inlineCheckbox17">Jake</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="lucas_user" value="lucas_user"/>
                <label class="form-check-label" for="inlineCheckbox18">Lucas</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="jaden_ivey_user" value="jaden_ivey_user" disabled/>
                <label class="form-check-label" for="inlineCheckbox19">Jaden Ivey</label>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- modal popup to confirm upload -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadModalLabel">Confirm Upload</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to upload this game to the database?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="uploadScores()">Upload</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- modal popup to confirm delete test uploads -->
    <div class="modal fade" id="deleteTestUploadsModal" tabindex="-1" aria-labelledby="deleteTestUploadsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteTestUploadsModalLabel">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete test uploads?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="deleteTestUploads()">Delete</button>
          </div>
        </div>
      </div>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
    ></script>
    
  </body>
</html>
