<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Purdue 2K22 Tool</title>
  </head>
  <body>
    <!-- bootstrap navigation ribbon -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Purdue 2K22 Tool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </nav>

    <!-- 2 Bootstrap select menus for number of users and number of players per team -->
    <br>
    <script>
      function randomizeTeams() {
        // fetch json from /randomize url
        fetch('/randomize')
          .then(response => response.json())
          .then(data => {
            // update the select menus with the new data
            document.getElementById("team1_up1").innerHTML = data.team1_user1 + ": " + data.team1_player1;
            document.getElementById("team1_up2").innerHTML = data.team1_user2 + ": " + data.team1_player2;
            document.getElementById("team2_up1").innerHTML = data.team2_user1 + ": " + data.team2_player1;
            document.getElementById("team2_up2").innerHTML = data.team2_user2 + ": " + data.team2_player2;
            
          });
        
        }

    </script>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <!-- bootstrap button to randomize teams -->
            <button type="button" class="btn btn-primary" onclick="randomizeTeams()">Randomize Teams</button>
            <br>
            <h3>Ringers</h3>
            <p id="team1_up1"></p>
            <p id="team1_up2"></p>
            <br>
            <h3>Ballerz</h3>
            <p id="team2_up1"></p>
            <p id="team2_up2"></p>

          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


